@import 'mixins';

@mixin purple($opacity) {    
  background-color: rgba(48,0,48, $opacity)
}

@mixin black($opacity) {    
  background-color: rgba(0,0,0, $opacity)  
}  

@mixin white($opacity) {
	background-color: rgba(0,0,0, $opacity)
}

body {
  @include purple(.6)
}

#playSong {
	display: block;
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 15px;
	margin: 20px auto;
	color: #ccc;
	background: -webkit-linear-gradient(#888, #555);
	background: linear-gradient(#888, #555);
	border: 0 none;
	border-radius: 3px;
	text-shadow: 0 -1px 0 #000;
	box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
	cursor: pointer;
}

@media all and (max-width: 485px) {
		#playSong{
			position: relative;
	    top: -38em;
	    left: 1em;
		}
  }

#nextSong{
	position: relative;
  top: -65em;
  left: 33em;
}

#sadi {
	z-index: -1;
	position: relative;
  top: -27em;
  left: 3em;
}

#addsong {
	position: relative;
  top: -29em;
}

